.container{"ng-controller" => "WelcomeController"}
  / .foo= current_user.inspect

  / user is not logged in
  .not_logged_in{"ng-if" => "#{!user_signed_in?}"}
    %h1 Welcome to Kandoo
    %a{href: "#{new_user_session_path}"}
      %button.btn.btn-default.navbar-btn{type: "button"} Sign In

  / user is logged in
  .logged_in{"ng-if" => "#{user_signed_in?}"}
    %h1 Welcome to Kandoo, #{current_user.email}
    %a{href: "#{destroy_user_session_path}"}
      %button.btn.btn-default.navbar-btn{type: "button"} Log Out

    %button.btn.btn-default{type: "button", "ng-click" => "showTaskForm()"} Create a new task!

    .tasks
      %ul
        %li{"ng-repeat" => "task in tasks"} {{task.title}} {{task.id}} {{task.description}}

    .task-form{"ng-if" => "showForm"}
      %form{"ng-submit" => "submitTask()"}
        %fieldset.form-group
          %label{for: "task-title"}Title
          %input.form-control{id: "task-title", type: "text", placeholder: "Think of a great task name", required: true, "ng-model" => "newTask.title"}
        %fieldset.form-group
          %label{for: "task-description"}Description
          %input.form-control{id: "task-description", type: "text", placeholder: "Any additional details about your new task", "ng-model" => "newTask.description"}
        %fieldset.form-group
          %label Due Date
          %input.form-control{type: "date", "ng-model" => "newTask.dueDate"}
        %input{type: "submit", id: "submit", value: "Submit"}
